<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Def_Writer.Trucks" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Def_Writer.History" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Def_Writer.Trucks>
            <setting name="TrucksETS2" serializeAs="String">
                <value>init</value>
            </setting>
            <setting name="TrucksATS" serializeAs="String">
                <value>init</value>
            </setting>
        </Def_Writer.Trucks>
        <Def_Writer.History>
            <setting name="ProjectLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="Price" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UnlockLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelType" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelName" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelPathUK" serializeAs="String">
                <value />
            </setting>
            <setting name="TruckHistoryETS2" serializeAs="String">
                <value>init</value>
            </setting>
            <setting name="TruckHistoryATS" serializeAs="String">
                <value>init</value>
            </setting>
            <setting name="DEDLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Variant" serializeAs="String">
                <value />
            </setting>
            <setting name="IconDefCreateOnAccessory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Look" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteUnchecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
        </Def_Writer.History>
    </userSettings>
</configuration>