<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCS_Mod_Helper.Main.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCS_Mod_Helper.Accessory.AccAddon.AccAddonHistory" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCS_Mod_Helper.Accessory.AccAddon.AccAddon" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCS_Mod_Helper.Mod.ModBasic" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCS_Mod_Helper.Project.ProjectBasic" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCS_Mod_Helper.Properties.AccAddonHistory" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCS_Mod_Helper.Properties.ProjectBasic" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCS_Mod_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SCS_Mod_Helper.History" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SCS_Mod_Helper.Main.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="ConverterPixPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectLocation" serializeAs="String">
                <value />
            </setting>
        </SCS_Mod_Helper.Main.Settings>
        <SCS_Mod_Helper.Accessory.AccAddon.AccAddonHistory>
            <setting name="ModelName" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="Price" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UnlockLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IconName" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelType" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelPathUK" serializeAs="String">
                <value />
            </setting>
            <setting name="CollisionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Look" serializeAs="String">
                <value />
            </setting>
            <setting name="Variant" serializeAs="String">
                <value />
            </setting>
            <setting name="PartType" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteUnchecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconDefCreateOnAccessory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChooseModelHistory" serializeAs="String">
                <value />
            </setting>
            <setting name="DEDLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="HideIn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Others" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoFillSelectAll" serializeAs="String">
                <value>False</value>
            </setting>
        </SCS_Mod_Helper.Accessory.AccAddon.AccAddonHistory>
        <SCS_Mod_Helper.Accessory.AccAddon.AccAddon>
            <setting name="ModelName" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="Price" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UnlockLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IconName" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelType" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelPathUK" serializeAs="String">
                <value />
            </setting>
            <setting name="CollisionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Look" serializeAs="String">
                <value />
            </setting>
            <setting name="Variant" serializeAs="String">
                <value />
            </setting>
            <setting name="PartType" serializeAs="String">
                <value />
            </setting>
            <setting name="TruckHistoryETS2" serializeAs="String">
                <value>init</value>
            </setting>
            <setting name="TruckHistoryATS" serializeAs="String">
                <value>init</value>
            </setting>
            <setting name="DeleteUnchecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconDefCreateOnAccessory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChooseModelHistory" serializeAs="String">
                <value />
            </setting>
            <setting name="DEDLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="HideIn" serializeAs="String">
                <value />
            </setting>
            <setting name="Others" serializeAs="String">
                <value />
            </setting>
        </SCS_Mod_Helper.Accessory.AccAddon.AccAddon>
        <SCS_Mod_Helper.Mod.ModBasic>
            <setting name="ProjectLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Author" serializeAs="String">
                <value />
            </setting>
        </SCS_Mod_Helper.Mod.ModBasic>
        <SCS_Mod_Helper.Project.ProjectBasic>
            <setting name="ModLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ModName" serializeAs="String">
                <value />
            </setting>
        </SCS_Mod_Helper.Project.ProjectBasic>
        <SCS_Mod_Helper.Properties.AccAddonHistory>
            <setting name="ModelName" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="Price" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UnlockLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IconName" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelType" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelPathUK" serializeAs="String">
                <value />
            </setting>
            <setting name="CollisionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Look" serializeAs="String">
                <value />
            </setting>
            <setting name="Variant" serializeAs="String">
                <value />
            </setting>
            <setting name="PartType" serializeAs="String">
                <value />
            </setting>
            <setting name="TruckHistoryETS2" serializeAs="String">
                <value>init</value>
            </setting>
            <setting name="TruckHistoryATS" serializeAs="String">
                <value>init</value>
            </setting>
            <setting name="DeleteUnchecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IconDefCreateOnAccessory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChooseModelHistory" serializeAs="String">
                <value />
            </setting>
            <setting name="DEDLocation" serializeAs="String">
                <value />
            </setting>
        </SCS_Mod_Helper.Properties.AccAddonHistory>
        <SCS_Mod_Helper.Properties.ProjectBasic>
            <setting name="ProjectLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value />
            </setting>
        </SCS_Mod_Helper.Properties.ProjectBasic>
        <SCS_Mod_Helper.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
        </SCS_Mod_Helper.Properties.Settings>
        <SCS_Mod_Helper.Trucks>
            <setting name="TrucksETS2" serializeAs="String">
                <value>init</value>
            </setting>
            <setting name="TrucksATS" serializeAs="String">
                <value>init</value>
            </setting>
        </SCS_Mod_Helper.Trucks>
        <SCS_Mod_Helper.History>
            <setting name="ProjectLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DisplayName" serializeAs="String">
                <value />
            </setting>
            <setting name="Price" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UnlockLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Icon" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelType" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelName" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelPathUK" serializeAs="String">
                <value />
            </setting>
            <setting name="TruckHistoryETS2" serializeAs="String">
                <value>init</value>
            </setting>
            <setting name="TruckHistoryATS" serializeAs="String">
                <value>init</value>
            </setting>
            <setting name="DEDLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ModelLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Variant" serializeAs="String">
                <value />
            </setting>
            <setting name="IconDefCreateOnAccessory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Look" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteUnchecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value />
            </setting>
        </SCS_Mod_Helper.History>
    </userSettings>
</configuration>